/* src/styles/global.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .formContainer {
    width: 40%;
    padding: 10px;
  }
  
  .mapContainer {
    width: 55%;
    padding: 10px;
  }
  
  /* Style for the input and list for area suggestions */
  input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
  }
  
  ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  li {
    cursor: pointer;
  }
  